@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* css spinner */
.spinner-wrapper {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ff6347;
z-index: 999999;
}
.sk-cube-grid {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 48%;
    left: 48%;
  }
  
  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #333;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
  }




  /*  scroll mouse animatio */
  
  .icon-scroll,
.icon-scroll:before{
    position: absolute;
    left: 50%;
}
  

.icon-scroll{
    width: 40px;
  height: 70px;
  margin-left: -20px;
  bottom: 50px;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.icon-scroll:before{
    content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
  

@keyframes scroll{
    0%{
        opacity: 1;
      }
        
      100%{
        opacity: 0;
        transform: translateY(46px);
    
      }
}
  


.top-container {
    height: 100vh;
    background: url(../IMAGES/header-bg.png);
    background-color: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    text-align: left;
  }
  @media only screen and (max-width:768px) {

    .top-container {
        background-size: 100% 100%;
      }
  }
  
  .top-container h1{
      font-size: 20px;
      color: white;
  }
  .top-container h1 span{
      font-size: 70px;
      font-weight: 900;
      color: #ED1C24;
  }
  .intro-txt{
      padding-top: 40vh;
    }
.btn{
    font-size: 13px;
    border: 2px solid #ED1C24;
    border-radius: 20px;
    background: none;
    padding: 5px 15px;
    margin: 20px 0 0 20px;
    color: white;
}
.btn.active,
.btn:hover{
    border: 2px solid #ED1C24;
    background: #ED1C24;
    color: white;
}
.btn1{
    line-height: 30px;
    color: #ED1C24;
}
.scroll-btn{
    width: 250px;
    position: absolute;
    text-decoration: none;
    bottom: 50px;
    color: white;
    left: calc(50% - 125px);
    font-size: 16px;
}
.scroll-btn:hover{
    color: #ED1C24;
    text-decoration: none;
}
  /* sticky navbar */
  .header {
    position: absolute;
    padding: 10px 16px;
    color: #f1f1f1;
    bottom: -10vh;
    left: 0;
    line-height: 60px;
    visibility: hidden;
    right: 0;
  }
  .navbar-brand{
      padding-bottom: 10px;
      color: #ED1C24 !important;
      font-weight: 900;
  }
  .nav-link {
      color: grey !important;
      margin-right: 10px;
  }
  .nav-link.active,
  .nav-link:hover{
      color: #ED1C24 !important;
  }
  .navbar-toggler-icon{
      background: none !important;
      color: #ED1C24;
  }
  .navbar{
      background: none !important;
  }

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 50px;
    transition: 1s;
    background: whitesmoke !important;
    width: 100%;
    line-height: 30px;
    color: grey;
    z-index: 100;
  }

.sticky + .content {
    padding-top: 102px;
  }
/* about section */
.section-box{
    padding: 60px 0 60px 0;
}
.section-head{
    text-align: center;
    padding-bottom: 30px;
}
.title{
    position: relative;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #262626;
}
.title{
    position: relative;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #262626;
}
.title::before{
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    height: 5px;
    background: linear-gradient(90deg,#ED1C24,rgb(230, 7, 74));
}
.section-box:hover .title::before{
    left: 0;
    right: 0;
    height: 2px;
    transition: 1s;
    background: #ED1C24;
}
.img-box{
    position: relative;
}
.img-wpr{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    padding-top: 45%;
    box-sizing: border-box;
    border-radius: 30px;
    background: linear-gradient(90deg,#ED1C24,rgb(230, 7, 74));

}
.img-wpr .fa{
    border: 2px solid black;
    color: black;
    margin-right: 10px;
    font-size: 20px;
    padding: 10px 13px;
    border-radius: 15px;
}
.img-wpr .fa:hover{
    border: 2px solid white;
    background: white;
    color: #ED1C24;
}
.img-wpr:hover{
    opacity: .5;
    transition: 1s;
}
.profile img{
    border-radius: 30px;
}
.profile-dtl{
    padding-left: 60px;
    padding-top: 60px;
}
.heading{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.sub-heading{
    font-size: 14px;
    font-weight: bold;
    color: grey;
    text-transform: uppercase;
    margin-bottom: 40px;
}

/* skills section */
.skill-box{
    padding: 20px;
}
.skill-box .heading{
    font-size: 24px;
    margin-bottom: 10px;
}
/* progress bar start */

.progress{
    margin-bottom: 20px;
    height: 30px;
}
.progressText{
    color: #555555;
}
.progress-bar{
    text-align: left;
    transition: 1s;
    background: linear-gradient(90deg,#ED1C24,rgb(230, 7, 74));
}
.skill-txt{
    margin-right: 15px;
    text-align: right;
}

/* progress bar end */

/* service section start */
.card-box{
    background: whitesmoke;
    padding: 45px;
    border-radius: 10px;
}
.card-box:hover{
    box-shadow: inset 0 0 15px black;
    background: linear-gradient(90deg,#ED1C24,rgb(230, 7, 74));
    color: white;
}
.card-box i{
    font-size: 80px;
}
.card-box .heading{
    font-size: 24px;
    font-weight: 500;
    margin: 20px 0;
}
.card-box p{
    font-size: 15px;
}

/* work section */
.portfolio-menu{
    margin-bottom: 40px;
    text-align: center;
}
.portfolio-menu li{
    display: inline-block;
    list-style: none;
    margin: 5px 10px 5px 0;
    padding: 10px 15px;
    border: 2px solid #ED1C24;
    border-radius: 10px;
}
.portfolio-menu li.active,
.portfolio-menu li:hover{
    background: #ED1C24;
    color: #f1f1f1;
}
.portfolio-item .item{
    margin-bottom: 15px;
}
.portfolio-item .item img{
        width: 100%;
        height: 250px;
        border-radius: 10px;
}



/* TESTIMONIAL  */
.owl-theme .item{
    padding: 20px;
}
.owl-theme .item img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 20px;
}
.item .img h5 span{
    font-weight: normal;
    font-size: 14px;
    color: gray;
}
.item .content{
    margin-top: 20px;
}
.content ::before{
    content: open-quote;
    font-size: 120px;
    color: rgba(128, 128, 128, 0.5);
    line-height: 10px;
    vertical-align: -2.5rem;
}
.content ::after{
    content: close-quote;
    font-size: 120px;
    color: rgba(128, 128, 128, 0.5);
    line-height: 10px;
    vertical-align: -6rem;
}


/* contact us section */
.contact-map iframe{
    width: 100%;
    height: 400px;
}
.contact-info{
    margin-bottom: 20px;
}
.contact-dtl{
    text-align: center;
    padding: 20px;
}
.contact-dtl i{
    font-size: 54px;
    color: #ED1C24;
    margin-bottom: 10px;
}
.contact-dtl p{
    font-size: 14px;
    color: grey;
}


/* contect section */
.footer{
    background: grey;
    padding: 20px 0 10px 0;
    margin-top: 20px;
    text-align: center;
}
/* .row{
    text-align: center;
} */
.logo a{
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.social{
    margin-top: 20px;
    
}
.social a{
    border: 2px solid white;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 10px;
    color: white;
    background: none;
    text-decoration: none;
}
.social a:hover{
    color: white;
    background: #ED1C24;
    border: #ED1C24 2px solid;
}
.footer hr{
    background: white;
    
    border: white 1px solid;
}
footer p{
    color: white;
    margin-top: 20px;
}
.footer p span{
    color: #ED1C24;
}